<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<form>
		<div id="menu-dinamico" class="menu-dinamico"
			th:fragment="menuDinamico">
			<ul>
				<li><a id="13515"
					href="javascript:acao('/sipe/consultarCertificadoRegistroEstabelecimentoProd!abrirForm.action', '13515')">Adiministração</a></li>
				<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Estabalecimento</a></li>
						<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Produtos</a></li>
						<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Vistoria e Fiscalização</a></li>
						<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Sicar</a></li>
						<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Medico veterinario</a></li>
						<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Cadastro</a></li>
						<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Ordem Serviço PGA</a></li>
					<li><a id="0"
					href="javascript:acao('/segaut/novoLogin.jsp?sgAplicacaoRedirecionada=%2Fsipe', '0')">Consultar autenticidade de documentos</a></li>
			</ul>
		</div>
	</form>
</body>
</html>