<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<form>
		<div id="menu-dinamico" class="menu-dinamico"
			th:fragment="menuDinamico">
			<div id="menu-dinamico" class="menu-dinamico">
				<ul>
					<li><a id="3335" href="#">Administração</a>
					<ul>
							<li><a id="3360" href="#">Abas</a>
							<ul>
									<li><a id="3344"
										href="/cadastro">Cadastrar</a></li>
									<li><a id="3353"
										href="/restringirHabilitacao">Restringir
											Habilitação</a></li>
								</ul></li>
							<li><a id="3346" href="#">Configuração</a>
							<ul>
									<li><a id="3604"
										href="/ingredienteAtivo">Vincular
											Ingrediente Ativo</a></li>
									<li><a id="3593"
										href="/garantiaMateriaPrima">Garantia
											Matéria Prima</a></li>
									<li><a id="3652"
										href="/ingrediente">Ingredientes</a></li>
									<li><a id="3343"
										href="/segAdmin">Grupos
											do SegAdmin</a></li>
									<li><a id="3345"
										href="/areaInteresse">Áreas
											de Interesse</a></li>
									<li><a id="3598"
										href="/garantiaSimples">Garantia
											Simples</a></li>
									<li><a id="3356"
										href="/configurarEquipe">Equipes</a></li>
									<li><a id="3595"
										href="javascript:acao('/sipe/manterGarantiaComplexa!abrirForm.action', '3595')">Garantia
											Complexa</a></li>
									<li><a id="3357"
										href="javascript:acao('/sipe/configurarValidadeRegistro.action', '3357')">Validade
											de Registros</a></li>
									<li><a id="4396"
										href="javascript:acao('/sipe/configurarItensLaudoVistoriaVinhosBebidas!abrirForm.action', '4396')">Laudo
											de Vistoria</a></li>
									<li><a id="11642"
										href="javascript:acao('/sipe/configurarDominioAreaInteresse.action', '11642')">Domínio
											da Área de Interesse</a></li>
									<li><a id="7926"
										href="javascript:acao('/sipe/configurarTipoRegistro.action', '7926')">Tipo
											de Registro</a></li>
									<li><a id="13507" href="javascript:acao('0', '13507')">teste</a></li>
									<li><a id="9360"
										href="javascript:acao('/sipe/configurarDistribuicaoAutomaticaSolicitacao.action', '9360')">Distribuição
											Automática de Solicitação</a></li>
									<li><a id="10440"
										href="javascript:acao('/sipe/configurarFormulario.action', '10440')">Formulários</a></li>
									<li><a id="11629"
										href="javascript:acao('/sipe/manterDominiosDiversos.action', '11629')">Domínios
											Diversos</a></li>
									<li><a id="11630"
										href="javascript:acao('/sipe/configurarTipoEndereco.action', '11630')">Tipo
											de Endereço</a></li>
									<li><a id="11631"
										href="javascript:acao('/sipe/configurarUnidadeMedidaSIPE.action', '11631')">Unidade
											de medida</a></li>
									<li><a id="11632"
										href="javascript:acao('/sipe/configurarNaturezaAreaInteresse.action', '11632')">Natureza
											por área</a></li>
									<li><a id="11633"
										href="javascript:acao('/sipe/configurarTipoEquipamentoAtividade.action', '11633')">Tipo
											de Equipamento</a></li>
									<li><a id="11634"
										href="javascript:acao('/sipe/manterModeloDeAeronave.action', '11634')">Modelo
											de Aeronave</a></li>
									<li><a id="11725"
										href="javascript:acao('/sipe/configurarAtividadeRenasem.action', '11725')">Atividade
											RENASEM</a></li>
									<li><a id="12034"
										href="javascript:acao('/sipe/configurarOrigemExameSanitario!abrirForm.action', '12034')">Origem
											do exame sanitário</a></li>
									<li><a id="12210"
										href="javascript:acao('/sipe/configurarZonaProducao.action', '12210')">Configurar
											zona de produção</a></li>
									<li><a id="12619"
										href="javascript:acao('/sipe/configurarNiveisPadronizacao.action', '12619')">Configurar
											níveis de padronização</a></li>
									<li><a id="12803"
										href="javascript:acao('/sipe/configurarItensListaVerificacao.action', '12803')">Lista
											de verificação</a></li>
									<li><a id="12810"
										href="javascript:acao('/sipe/liberarAlteracaoDenominacaoProduto!abrirForm.action', '12810')">Liberar
											alteração de denominação de produto</a></li>
									<li><a id="12818"
										href="javascript:acao('/sipe/configurarUnidadeGarantia.action', '12818')">Unidade
											da Garantia</a></li>
									<li><a id="12819"
										href="javascript:acao('/sipe/configurarProfissaoAreaInteresse.action', '12819')">Profissão</a></li>
									<li><a id="12820"
										href="javascript:acao('/sipe/configurarConselhoArea.action', '12820')">Conselho</a></li>
									<li><a id="12821"
										href="javascript:acao('/sipe/configurarNomeServicoAreaInteresse.action', '12821')">Nome
											do Serviço</a></li>
									<li><a id="12885"
										href="javascript:acao('/sipe/configurarTipoOrdemServicoPGA.action', '12885')">Tipo
											Ordem de Serviço PGA</a></li>
									<li><a id="13290"
										href="javascript:acao('/sipe/configurarDominioAreaInteresse.action', '13290')">Domínio
											da área de interesse</a></li>
									<li><a id="9344"
										href="javascript:acao('/sipe/configurarNivelRegistroEstabelecimento.action', '9344')">Nível
											de Registro</a></li>
									<li><a id="13687"
										href="javascript:acao('/sipe/manterConfiguracaoRegistroEstabelecimento.action', '13687')">Critério
											de Registro de Estabelecimento</a></li>
								</ul></li>
							<li><a id="3328" href="#">Tabelas</a>
							<ul>
									<li><a id="4395"
										href="javascript:acao('/sipe/manterPontuacaoAtividadesEstabelecimento.action', '4395')">Pontos
											das Atividades</a></li>
									<li><a id="3347"
										href="javascript:acao('/sipe/manterArquivoUpload.action', '3347')">Arquivo
											para Upload</a></li>
									<li><a id="3329"
										href="javascript:acao('/sipe/manterMateriaPrima.action', '3329')">Matéria
											Prima</a></li>
									<li><a id="3331"
										href="javascript:acao('/sipe/vincularEspecieCategoriaAnimalFasesCriacao.action', '3331')">Espécie
											e Categoria Animal X Fases de Criação</a></li>
									<li><a id="3330"
										href="javascript:acao('/sipe/manterModeloAeronave.action', '3330')">Modelo
											de Aeronaves</a></li>
									<li><a id="3332"
										href="javascript:acao('/sipe/manterGrupoProdutos.action', '3332')">Grupos/SubGrupos
											de Produto</a></li>
									<li><a id="3348"
										href="javascript:acao('/sipe/manterFiscaisEstado.action', '3348')">Fiscais
											do Estado</a></li>
									<li><a id="3599"
										href="javascript:acao('/sipe/manterIngrediente.action', '3599')">Ingredientes</a></li>
									<li><a id="7927"
										href="javascript:acao('/sipe/manterMotivoPerdaProdutoMateriaPrima.action', '7927')">Motivo
											de Perda Produto/Matéria Prima</a></li>
									<li><a id="10286"
										href="javascript:acao('/sipe/manterItemFormularioPga.action', '10286')">Itens
											do Formulário</a></li>
									<li><a id="10287"
										href="javascript:acao('/sipe/manterItemRespostaFormularioPga.action', '10287')">Itens
											de Resposta do Formulário</a></li>
									<li><a id="12809"
										href="javascript:acao('/sipe/associarRotulosItensNiveisPadronizacao.action', '12809')">Associar
											rótulo a níveis de padronização</a></li>
									<li><a id="12812"
										href="javascript:acao('/sipe/manterAtividade.action', '12812')">Atividade</a></li>
									<li><a id="12813"
										href="javascript:acao('/sipe/manterUnidadeMedida.action', '12813')">Unidades
											de Medidas</a></li>
									<li><a id="12814"
										href="javascript:acao('/sipe/manterEspecie.action', '12814')">Espécie
											/ Cultura</a></li>
									<li><a id="12815"
										href="javascript:acao('/sipe/manterClassificacao.action', '12815')">Classificação</a></li>
									<li><a id="12816"
										href="javascript:acao('/sipe/manterCaracteristicaAdicional.action', '12816')">Característica
											Adicional</a></li>
									<li><a id="12817"
										href="javascript:acao('/sipe/manterDenominacao.action', '12817')">Denominação</a></li>
									<li><a id="13289"
										href="javascript:acao('/sipe/manterTipoEquipamento.action', '13289')">Tipo
											de Equipamento</a></li>
								</ul></li>
							<li><a id="9139" href="javascript:acao('.', '9139')">Novos
									Vínculos</a></li>
							<li><a id="11152" href="javascript:acao('-', '11152')">Extra</a>
							<ul>
									<li><a id="11153"
										href="javascript:acao('/sipe/ajustarSolicitacaoEmail.action', '11153')">Ajustar
											solicitação</a></li>
								</ul></li>
							<li><a id="3602"
								href="javascript:acao('/sipe/vincularIngredienteAtivoProduto.action', '3602')">Vincular
									Ingrediente Ativo de Produto</a></li>
						</ul></li>
					<li><a id="3358" href="#">Estabelecimentos</a>
					<ul>
							<li><a id="3645" href="#">Comunicado</a>
							<ul>
									<li><a id="3622"
										href="javascript:acao('/sipe/acompanharComunicado.action', '3622')">Acompanhar</a></li>
									<li><a id="3648"
										href="javascript:acao('/sipe/comunicarProrrogacaoSuspensaoAtividade.action?flagMenu=true', '3648')">Prorrogar
											Suspensão de Atividade</a></li>
									<li><a id="3647"
										href="javascript:acao('/sipe/comunicarSuspensaoDesativacaoAtividade.action?flagMenu=true', '3647')">Suspender/Desativar
											Atividade</a></li>
									<li><a id="3646"
										href="javascript:acao('/sipe/manterArmazem.action', '3646')">Atualizar
											Armazéns</a></li>
									<li><a id="3649"
										href="javascript:acao('/sipe/comunicarReativacaoAtividadeEstabelecimento!execute.action?flagMenu=true', '3649')">Reativar
											Atividade Suspensa</a></li>
									<li><a id="9342"
										href="javascript:acao('/sipe/comunicarSuspensaoCancelamentoPostoServico.action', '9342')">Suspender/cancelar
											posto de serviço</a></li>
									<li><a id="9343"
										href="javascript:acao('/sipe/comunicarReativacaoPostoServico.action', '9343')">Reativar
											Posto de Serviço</a></li>
									<li><a id="16115"
										href="javascript:acao('/sipe/enviarComunicado!abrirEnvioEmailHabilitacaoInativa.action?flagMenu=true', '16115')">Enviar
											e-mail de aviso</a></li>
								</ul></li>
							<li><a id="3490"
								href="javascript:acao('/sipe/emitirHistoricoRegistroEstabelecimento.action', '3490')">Histórico</a></li>
							<li><a id="3621" href="#">Solicitação</a>
							<ul>
									<li><a id="3650"
										href="javascript:acao('/sipe/acompanharSolicitacao.action', '3650')">Acompanhar</a></li>
									<li><a id="3651"
										href="javascript:acao('/sipe/solicitarCancelamentoAtividadeEstabelecimento.action', '3651')">Cancelar
											Atividade</a></li>
									<li><a id="3628"
										href="javascript:acao('/sipe/solicitarRenovacaoRegistroEstabelecimento.action', '3628')">Renovação
											de registro</a></li>
									<li><a id="3623"
										href="javascript:acao('/sipe/iniciarAnaliseSolicitacao.action', '3623')">Analisar</a></li>
									<li><a id="3625"
										href="javascript:acao('/sipe/manterParecer.action', '3625')">Gerar
											Parecer</a></li>
									<li><a id="3626"
										href="javascript:acao('/sipe/distribuirSolicitacao.action', '3626')">Distribuir</a></li>
									<li><a id="3624"
										href="javascript:acao('/sipe/manterAreaInteresse!novoRegistroSolicitacao.action', '3624')">Novo
											Registro</a></li>
									<li><a id="3627"
										href="javascript:acao('/sipe/solicitarAlteracaoRegistroEstabelecimento.action', '3627')">Alteração
											de Cadastro/Registro</a></li>
									<li><a id="7312"
										href="javascript:acao('/sipe/solicitarRenovacaoCadastroPrestadorServico.action', '7312')">Renovação
											de cadastro</a></li>
									<li><a id="16117"
										href="javascript:acao('/sipe/solicitarRenovacaoRegistroEstabelecimento!exibirReaberturaPrazoRenovacao.action?flagMenu=true', '16117')">Reabrir
											prazo renovação</a></li>
								</ul></li>
							<li><a id="3338" href="#">Certificado</a>
							<ul>
									<li><a id="3606"
										href="javascript:acao('/sipe/emitirCertificadoCadastroPrestadorServico.action', '3606')">Certificado
											de Cadastro</a></li>
									<li><a id="11716"
										href="javascript:acao('/sipe/emitirCertificadoRenasem.action', '11716')">Certificado
											RENASEM</a></li>
									<li><a id="16536"
										href="javascript:acao('/sipe/solicitarAutorizacaoTrabalhoTemporario!gerarPdfAutorizacao.action', '16536')">Autorização
											Trabalho Temporário</a></li>
									<li><a id="3339"
										href="javascript:acao('/sipe/emitirCertificadoRegistroEstabelecimento.action', '3339')">Certificado
											de Registro</a></li>
								</ul></li>
							<li><a id="7867" href="#">Relatórios</a>
							<ul>
									<li><a id="7868"
										href="javascript:acao('/sipe/emitirRelatorioAeronave.action', '7868')">Emitir
											Relatório de Aeronaves</a></li>
									<li><a id="7869"
										href="javascript:acao('/sipe/emitirHistoricoRegistroEstabelecimento.action', '7869')">Emitir
											Histórico de Estabelecimento</a></li>
									<li><a id="8319"
										href="javascript:acao('/sipe/emitirRelatorioDadosGeraisEstabelecimento.action', '8319')">Emitir
											Relatório de Dados Gerais Estabelecimento</a></li>
									<li><a id="9029"
										href="javascript:acao('/sipe/emitirRelatorioServicoPrestadoAtividadeMensal.action', '9029')">Emitir
											Relatório de Serviço Prestado</a></li>
									<li><a id="9031"
										href="javascript:acao('/sipe/emitirRelatorioDebitoAtividadeMensal.action', '9031')">Estabelecimento
											em débito</a></li>
									<li><a id="9032"
										href="javascript:acao('/sipe/emitirRelatorioAreaTrabalhadaAtividadeMensal.action', '9032')">Demonstrativo
											de Área Trabalhada</a></li>
									<li><a id="9033"
										href="javascript:acao('/sipe/emitirRelatorioAreaTrabalhadaUFProduto.action', '9033')">Demonstrativo
											de Área TrabalhadaUF/Produto</a></li>
									<li><a id="11352"
										href="javascript:acao('/sipe/manterHistoricoRelatorioAtividadeMensal.action', '11352')">Histórico
											do Relatório de Atividade Mensal</a></li>
								</ul></li>
						</ul></li>
					<li><a id="3603" href="#">Produtos</a>
					<ul>
							<li><a id="8267" href="#">Certificado</a>
							<ul>
									<li><a id="8268"
										href="javascript:acao('/sipe/emitirCertificadoRegistroProduto.action', '8268')">Certificado
											de Registro</a></li>
									<li><a id="8269"
										href="javascript:acao('/sipe/emitirCertificadoCadastroProduto.action', '8269')">Certificado
											de Cadastro</a></li>
									<li><a id="12886"
										href="javascript:acao('/sipe/consultarCertificadoRegistroEstabelecimentoProd!abrirForm.action', '12886')">Consultar
											autenticidade de documentos</a></li>
								</ul></li>
							<li><a id="3630"
								href="javascript:acao('/sipe/manterClassificacaoProduto!novoRegistroSolicitacao.action', '3630')">Solicitação</a>
							<ul>
									<li><a id="3631"
										href="javascript:acao('/sipe/acompanharSolicitacao.action', '3631')">Acompanhar</a></li>
									<li><a id="4506"
										href="javascript:acao('/sipe/distribuirSolicitacao.action', '4506')">Distribuir</a></li>
									<li><a id="4508"
										href="javascript:acao('/sipe/manterParecer.action', '4508')">Gerar
											Parecer</a></li>
									<li><a id="4507"
										href="javascript:acao('/sipe/iniciarAnaliseSolicitacao.action', '4507')">Analisar</a></li>
									<li><a id="8342" href="#">Cadastro</a>
									<ul>
											<li><a id="8261"
												href="javascript:acao('/sipe/manterClassificacaoProdutoCadastrado!novoRegistroSolicitacao.action', '8261')">Novo
													Cadastro</a></li>
											<li><a id="8262"
												href="javascript:acao('/sipe/solicitarAlteracaoCadastroProduto.action', '8262')">Alteração
													de Cadastro</a></li>
											<li><a id="8264"
												href="javascript:acao('/sipe/solicitarCancelamentoCadastroProduto.action', '8264')">Cancelamento
													de Cadastro</a></li>
											<li><a id="8263"
												href="javascript:acao('/sipe/solicitarSuspensaoCadastroProduto.action', '8263')">Suspensão
													de Cadastro</a></li>
										</ul></li>
									<li><a id="8341"
										href="javascript:acao('/sipe/manterClassificacaoProduto!novoRegistroSolicitacao.action', '8341')">Registro</a>
									<ul>
											<li><a id="3632"
												href="javascript:acao('/sipe/manterClassificacaoProduto!novoRegistroSolicitacao.action', '3632')">Novo
													Registro</a></li>
											<li><a id="3642"
												href="javascript:acao('/sipe/solicitarAlteracaoRegistroProduto.action', '3642')">Alteração
													de Registro</a></li>
											<li><a id="3607"
												href="javascript:acao('/sipe/solicitarAlteracaoRegistroProduto.action', '3607')">Solicitar
													Alteração de Registro de Produto</a></li>
											<li><a id="3600"
												href="javascript:acao('/sipe/solicitarCancelamentoRegistroProduto.action', '3600')">Solicitar
													Cancelamento de Registro de Produto</a></li>
											<li><a id="3601"
												href="javascript:acao('/sipe/solicitarRenovacaoRegistroProduto.action', '3601')">Solicitar
													Renovação de Registro de Produto</a></li>
											<li><a id="3643"
												href="javascript:acao('/sipe/solicitarRenovacaoRegistroProduto.action', '3643')">Renovação
													de Registro</a></li>
											<li><a id="3644"
												href="javascript:acao('/sipe/solicitarCancelamentoRegistroProduto.action', '3644')">Cancelamento
													de Registro</a></li>
											<li><a id="12887"
												href="javascript:acao('/sipe/solicitarAlteracaoDenominacaoProduto.action', '12887')">Alteração
													de denominação de produto</a></li>
										</ul></li>
								</ul></li>
							<li><a id="3596"
								href="javascript:acao('/sipe/configurarIngredientes.action', '3596')">Configurar
									Ingredientes</a></li>
							<li><a id="8229" href="#">Produtos Controlados</a>
							<ul>
									<li><a id="8233"
										href="javascript:acao('/sipe/manterProdutoControlado.action', '8233')">Indicar
											Produto Controlado</a></li>
									<li><a id="8230" href="#">Estoque</a>
									<ul>
											<li><a id="8232"
												href="javascript:acao('/sipe/liberarLancamentoEstoqueInicial.action', '8232')">Liberar
													Lançamento</a></li>
											<li><a id="8231"
												href="javascript:acao('/sipe/lancarEstoqueInicialMateriaPrima.action', '8231')">Estoque
													Inicial Matéria Prima</a></li>
											<li><a id="8242"
												href="javascript:acao('/sipe/lancarEstoqueInicialProdutoUsoVeterinario.action', '8242')">Estoque
													Inicial Produto</a></li>
											<li><a id="8260"
												href="javascript:acao('/sipe/manterEstoqueProdutoImportado.action', '8260')">Estoque
													Produto Importado</a></li>
											<li><a id="8278"
												href="javascript:acao('/sipe/manterEstoqueMateriaPrima.action', '8278')">Estoque
													Matéria-Prima</a></li>
											<li><a id="8334"
												href="javascript:acao('/sipe/manterBaixaEstoqueProdutoUsoVeterinario.action', '8334')">Baixa
													de Estoque</a></li>
											<li><a id="9661"
												href="javascript:acao('/sipe/cancelarSolicitacaoImportacao.action', '9661')">Cancelar
													solicitação de importação</a></li>
											<li><a id="9667"
												href="javascript:acao('/sipe/informarPerdaEstoque!abrirForm.action', '9667')">Informar
													perda</a></li>
										</ul></li>
									<li><a id="8238" href="#">Solicitação</a>
									<ul>
											<li><a id="8239"
												href="javascript:acao('/sipe/solicitarImportacaoMateriaPrima.action', '8239')">Importação
													de Matéria-Prima</a></li>
											<li><a id="8244"
												href="javascript:acao('/sipe/solicitarImportacaoProdutoControlado.action', '8244')">Importação
													de Produtos</a></li>
											<li><a id="9669"
												href="javascript:acao('/sipe/solicitarAjusteEstoque.action', '9669')">Solicitar
													ajuste estoque</a></li>
										</ul></li>
									<li><a id="8270"
										href="javascript:acao('/sipe/manterProducaoProdutoUsoVeterinario.action', '8270')">Produção
											de Produto</a></li>
									<li><a id="8335" href="#">Relatório</a>
									<ul>
											<li><a id="8336"
												href="javascript:acao('/sipe/emitirRelatorioBalancoProdutoUsoVet.action', '8336')">Emitir
													Balanço de Produto</a></li>
											<li><a id="8337"
												href="javascript:acao('/sipe/emitirRelatorioBalancoMateriaPrima.action', '8337')">Emitir
													Balanço de Matéria Prima</a></li>
										</ul></li>
									<li><a id="9664" href="#">Movimentação</a>
									<ul>
											<li><a id="9665"
												href="javascript:acao('/sipe/confirmarMovimentacaoEstoqueMateriaPrima.action', '9665')">Confirmar
													movimentação de estoque matéria-prima</a></li>
											<li><a id="9666"
												href="javascript:acao('/sipe/movimentacaoEstoqueMateriaPrima.action', '9666')">Movimentação
													de matéria-prima</a></li>
											<li><a id="8275"
												href="javascript:acao('/sipe/confirmarMovimentacaoEstoque.action', '8275')">Confirmar
													Movimentação de Produto</a></li>
											<li><a id="8276"
												href="javascript:acao('/sipe/movimentacaoEstoqueProdutoUsoVeterinario.action', '8276')">Movimentação
													de Produto</a></li>
										</ul></li>
								</ul></li>
							<li><a id="8237" href="#">Comunicado</a>
							<ul>
									<li><a id="8236"
										href="javascript:acao('/sipe/manterComunicadoProduto.action', '8236')">Produto
											Nacional Isento</a></li>
									<li><a id="8309"
										href="javascript:acao('/sipe/acompanharComunicado.action', '8309')">Acompanhar
											Comunicado</a></li>
									<li><a id="12811"
										href="javascript:acao('/sipe/comunicarContratacaoUnidadeVolante!abrirForm.action', '12811')">Contratação
											de unidade volante</a></li>
								</ul></li>
							<li><a id="8320" href="#">Relatórios</a>
							<ul>
									<li><a id="8321"
										href="javascript:acao('/sipe/emitirRelatorioDadosGeraisProduto.action', '8321')">Emitir
											Relatório de Dados Gerais do Produto</a></li>
									<li><a id="13487"
										href="javascript:acao('/sipe/emitirRelatorioHistoricoProduto.action', '13487')">Emitir
											Relatório de Histórico do Produto</a></li>
								</ul></li>
							<li><a id="12888"
								href="javascript:acao('/sipe/reativarProdutoCanceladoAutomaticamente.action', '12888')">Reativar
									Produto Cancelado</a></li>
						</ul></li>
					<li><a id="3341" href="#">Vistoria e Fiscalização</a>
					<ul>
							<li><a id="4414"
								href="javascript:acao('/sipe/manterTermosAvulsos.action', '4414')">Termo
									Avulso</a></li>
							<li><a id="3653"
								href="javascript:acao('/sipe/manterQuadroSinoptico.action', '3653')">Quadro
									Sinóptico</a></li>
							<li><a id="3654"
								href="javascript:acao('/sipe/manterComunicadoOcorrencia.action', '3654')">Comunicado
									Ocorrências</a></li>
							<li><a id="3655" href="#">Relatórios</a>
							<ul>
									<li><a id="4997"
										href="javascript:acao('/sipe/emitirRelatorioFiscalizacaoEstabelecimentoPorUFAtividade.action', '4997')">Emitir
											Relatório Fiscalização Estabelecimento</a></li>
									<li><a id="3658"
										href="javascript:acao('/sipe/emitirRelatorioComunicadoOcorrencia.action', '3658')">Emitir
											Comunicado Ocorrência</a></li>
									<li><a id="3657"
										href="javascript:acao('/sipe/emitirRelacaoIntegrantesEquipePorOS.action', '3657')">Emitir
											Relação de Integrantes por OS</a></li>
									<li><a id="3656"
										href="javascript:acao('/sipe/emitirRelacaoFiscalizacaoTermosAutos.action', '3656')">Emitir
											Relação de Fiscalização</a></li>
									<li><a id="13604"
										href="javascript:acao('/sipe/emitirRelatorioAcompanhamentoOS.action', '13604')">Emitir
											Relatório de Acompanhamento de OS</a></li>
								</ul></li>
							<li><a id="3629"
								href="javascript:acao('/sipe/manterIntervencaoRegistro.action', '3629')">Intervenção
									de Registro</a></li>
							<li><a id="3610" href="#">Ordem de Serviço</a>
							<ul>
									<li><a id="3611"
										href="javascript:acao('/sipe/manterItensOrdemServico.action', '3611')">Cadastrar
											Itens de OS</a></li>
									<li><a id="3612"
										href="javascript:acao('/sipe/manterOrdemServico!execute.action', '3612')">Gerir
											OS</a></li>
								</ul></li>
							<li><a id="11726"
								href="javascript:acao('/sipe/manterIntervencaoRenasem!abrirForm.action', '11726')">Intervenção
									RENASEM</a></li>
						</ul></li>
					<li><a id="5000" href="#">Sicar</a>
					<ul>
							<li><a id="7044"
								href="javascript:acao('/sipe/acompanharPaf.action', '7044')">Acompanhar
									PAF</a></li>
							<li><a id="7048"
								href="javascript:acao('/sipe/manterDespachoPaf.action', '7048')">Despacho</a></li>
							<li><a id="7065" href="#">1ª Instância</a>
							<ul>
									<li><a id="7042"
										href="javascript:acao('/sipe/vincularAutoInfracao.action', '7042')">Vincular
											auto de infração a processo</a></li>
									<li><a id="7047"
										href="javascript:acao('/sipe/manterDefesaRecurso.action', '7047')">Defesa
											ou recurso</a></li>
									<li><a id="7052"
										href="javascript:acao('/sipe/manterTermoReveliaPaf.action', '7052')">Termo
											de Revelia</a></li>
									<li><a id="7068"
										href="javascript:acao('/sipe/manterRelatorioDe1e2Instancia.action', '7068')">Relatoria</a></li>
									<li><a id="7056"
										href="javascript:acao('/sipe/manterParecerPaf.action', '7056')">Parecer
											técnico</a></li>
									<li><a id="7069"
										href="javascript:acao('/sipe/manterTermoJulgamento.action', '7069')">Julgamento</a></li>
									<li><a id="9333"
										href="javascript:acao('/sipe/manterApreciacaoRecursoPaf!abrirFormConsulta.action', '9333')">Apreciar
											recurso</a></li>
									<li><a id="7070"
										href="javascript:acao('/sipe/manterExecucaoSancao.action', '7070')">Execução
											de sanção administrativa</a></li>
									<li><a id="7071"
										href="javascript:acao('/sipe/manterTermoEncerramentoPaf.action', '7071')">Encerramento</a></li>
								</ul></li>
							<li><a id="7066" href="#">2ª Instância</a>
							<ul>
									<li><a id="7054"
										href="javascript:acao('/sipe/manterRelatorioDe1e2Instancia.action', '7054')">Relatoria</a></li>
									<li><a id="7058"
										href="javascript:acao('/sipe/manterAgravamentoJulgamento.action', '7058')">Agravamento</a></li>
									<li><a id="7051"
										href="javascript:acao('/sipe/manterManifestacaoAgravamento.action', '7051')">Manifestação
											sobre agravamento</a></li>
									<li><a id="7049"
										href="javascript:acao('/sipe/manterTermoEncerramentoPaf.action', '7049')">Encerramento</a></li>
									<li><a id="7059"
										href="javascript:acao('/sipe/manterExecucaoSancao.action', '7059')">Execução
											de sanção administrativa</a></li>
									<li><a id="7053"
										href="javascript:acao('/sipe/manterTermoJulgamento.action', '7053')">Julgamento</a></li>
								</ul></li>
							<li><a id="7064" href="#">Administração</a>
							<ul>
									<li><a id="7057"
										href="javascript:acao('/sipe/configurarJulgador.action', '7057')">Configurar
											Julgador</a></li>
									<li><a id="7060"
										href="javascript:acao('/sipe/manterConvenioInstrucaoGru.action', '7060')">Convênio
											e instrução GRU</a></li>
									<li><a id="7040"
										href="javascript:acao('/sipe/manterPrazosPaf.action', '7040')">Prazos
											de PAF</a></li>
									<li><a id="7043"
										href="javascript:acao('/sipe/manterSancaoAdministrativa.action', '7043')">Sanção
											administrativa</a></li>
								</ul></li>
							<li><a id="7041"
								href="javascript:acao('/sipe/manterAvisoRecebimento.action', '7041')">Aviso
									de Recebimento</a></li>
							<li><a id="7046"
								href="javascript:acao('/sipe/informarNotificacao.action', '7046')">Informar
									Notificação</a></li>
							<li><a id="7045"
								href="javascript:acao('/sipe/manterEstabelecimentoNaoRegistrado.action', '7045')">Cadastrar
									Estabelecimento não Registrado</a></li>
							<li><a id="7062"
								href="javascript:acao('/sipe/manterRetornoPafDaPgfn.action', '7062')">Retorno
									PAF DA PGFN</a></li>
							<li><a id="7067" href="#">Relatórios</a>
							<ul>
									<li><a id="7063"
										href="javascript:acao('/sipe/emitirRelatorios.action', '7063')">Emitir
											Relatórios</a></li>
								</ul></li>
							<li><a id="7050"
								href="javascript:acao('/sipe/manterEmitirOficioPaf.action', '7050')">Ofícios</a></li>
							<li><a id="9062" href="#">GRU</a>
							<ul>
									<li><a id="9063"
										href="javascript:acao('/sipe/manterBaixaManualGru.action', '9063')">Baixa
											Manual</a></li>
									<li><a id="7061"
										href="javascript:acao('/sipe/manterGru.action', '7061')">Emitir
											GRU</a></li>
									<li><a id="9064"
										href="javascript:acao('/sipe/imprimirGru.action', '9064')">Imprimir
											GRU</a></li>
								</ul></li>
						</ul></li>
					<li><a id="8234" href="#">Medico veterinário</a>
					<ul>
							<li><a id="8240"
								href="javascript:acao('/sipe/acompanharSolicitacao.action', '8240')">Acompanhar</a></li>
							<li><a id="8235"
								href="javascript:acao('/sipe/solicitarCadastroMedicoVeterinario.action', '8235')">Novo
									cadastro</a></li>
							<li><a id="8258"
								href="javascript:acao('/sipe/solicitarAlteracaoCadMedicoVeterinario.action', '8258')">Alteração
									de cadastro</a></li>
							<li><a id="8259"
								href="javascript:acao('/sipe/cancelarCadastroMedicoVeterinario.action', '8259')">Cancelar
									cadastro</a></li>
							<li><a id="8266"
								href="javascript:acao('/sipe/manterSituacaoCadastroMedicoVeterinario.action', '8266')">Situação
									cadastro</a></li>
							<li><a id="8271" href="#">Relatório</a>
							<ul>
									<li><a id="8272"
										href="javascript:acao('/sipe/emitirRelatorioProdutoPrescritoUF.action', '8272')">Produto
											prescrito por UF</a></li>
									<li><a id="8279"
										href="javascript:acao('/sipe/emitirRelatorioProdutoPrescritoBaixaEstoque.action', '8279')">Produto
											prescrito x baixa de estoque</a></li>
								</ul></li>
							<li><a id="8273" href="#">Notificação</a>
							<ul>
									<li><a id="8274"
										href="javascript:acao('/sipe/manterNotificacaoAquisicaoMedicoVet.action', '8274')">Aquisição
											por Médico Veterinário</a></li>
									<li><a id="8281"
										href="javascript:acao('/sipe/manterNotificacaoReceitaVet.action', '8281')">Receita
											veterinária</a></li>
								</ul></li>
						</ul></li>
					<li><a id="9179" href="#">Cadastro</a>
					<ul>
							<li><a id="9181"
								href="javascript:acao('/sipe/complementarCadastro.action', '9181')">Solicitar
									novo vínculo</a></li>
						</ul></li>
					<li><a id="9746" href="#">Ordem Serviço PGA</a></li>
					<li><a id="13515"
						href="javascript:acao('/sipe/consultarCertificadoRegistroEstabelecimentoProd!abrirForm.action', '13515')">Consultar
							autenticidade de documentos</a></li>
				</ul>
			</div>
		</div>
	</form>
</body>
</html>